#imageSet{
    padding-top: 30px;
}
#teserVDO{
    padding: 20px;
}
.background{
    background-color: #FFF1CE;  
}
.display{
    display:block;
}
#boxBuy-Webboard{
    display: flex;
    
    font-size: 25px;
    position: relative;
    width: fit-content;
    text-align: right;
}
#btnBuy{
    cursor: pointer;
    border-style: none;
}
.btnMenu{
    color:black;
    text-decoration: none;
    cursor: pointer;
}
.btnMenu:hover{
    color: yellow;
    text-decoration: underline;
}
#setbtnLeftRight{
    text-align: left;
    position:relative;
}
.groupBox{
    padding:20px;
    background-color:white;
    position: fixed;
    width:500px;
    height: fit-content;
    z-index: 1;
    top: 60px;
    left: 50%;
    margin-left: -250px;
    border-radius: 20px;
    animation: moveGroupBox 0.5s;
}
@keyframes moveGroupBox{
    0% {top:-400px}
    100% {top:60px}
}

#btnAcceptSetting{
    margin-top: 20px;
    cursor: pointer;
    border-style: none;
    font-size:30px;
    width: fit-content;
    padding:5px;
    
    
}
#btnAcceptSetting:hover{
    background-color: greenyellow;
}
#btnAcceptSetting:active{
    background-color: red;
}
#btnClose{
    cursor: pointer;
    width: fit-content;
    margin-top: -10px;
    margin-left: 420px;
}
#btnClose:hover{
    background-color: aqua;
    
}
body{
    /* background-image:url('../webUpload/bg.jpg'); */
    /* background-size: cover; */
    /* background-attachment: fixed; */
    overflow:auto;
    padding: 40px;
    margin: 100px;
    
}
.btnMinusPlus{
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    cursor: pointer;
    width: fit-content;
    border-style: none;
    background-color: none;
}
.btnMinusPlus:hover{
    background-color: darkturquoise;
}
.btnMinusPlus:active{
    background-color: red;
}
.groupPlusMinusNumber{
    
    display: flex;
    margin-left: 85px;
}
.detail{
    font-size: 20px; 
}
.topic{
    font-size: 20px;
}
.box{
    margin: 30px;
}
.timeDate{
    font-size:15px;
}
.bottomBox{
    /* border-radius: 5px; */
    padding-bottom:10px;
    margin-bottom:10px;
}
#map {
    height: 100%;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  .pac-container{
    /* display: initial; */
    /* width: 396px; position: absolute; left: 254px; top: 336px; */
    z-index: 7000;
    
  }

  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    /* margin-left: 12px; */
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  #target {
    width: 345px;
  }
  .modal-open{
    overflow-x:hidden;
    overflow-y:auto;
    position: fixed;
  }